# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
node_modules/

# Compiled output
build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Misc
.DS_Store
!.eslintrc.js
!.stylelintrc.js
coverage/
*-sw.js
lib/

**/node_modules/**
scraper/node_modules
client/config/**/*.js
client/scripts/*.js
**/react-app-env.d.ts
**/*.min.js
site2/node_modules
site2/artifacts
site2/dist
site2/tmp
scraper/ecosystem.config.js
site/static.config.js

site
.eslintrc.js
**/next.config.js
site2/out
site2/**/*.d.ts
