---
date: {{ updated }}
title: {{ title }}
---
{{#firstAlbums}}
{{number}}. {{artist}} - {{name}}
{{/firstAlbums}}
More under the cut.
<!-- more -->
{{#restAlbums}}
{{number}}. {{artist}} - {{name}}
{{/restAlbums}}