---
date: {{ updated }}
title: {{ title }}
---
{{#firstAlbums}}
{{number}}. {{{artist}}} - {{{name}}} ({{date}})
{{/firstAlbums}}
More under the cut.
<!-- more -->
{{#restAlbums}}
{{number}}. {{{artist}}} - {{{name}}} ({{date}})
{{/restAlbums}}