---
date: {{ updated }}
title: {{ title }}
---
{{#thumbnail}}
![{{title}}]({{{thumbnail}}})
{{/thumbnail}}
{{#previewAlbums}}
{{number}}. {{{artist}}} - {{{name}}} ({{date}})
{{/previewAlbums}}
List of 100 - under the cut.
<!-- more -->

{{#albums}}
{{number}}. {{{artist}}} - {{{name}}} ({{date}})
{{/albums}}