---
import classNames from 'classnames';

import classes from './albums-table-heading.module.css';

export interface Props {
  tableId: string;
}
const { tableId } = Astro.props;
const SORT_TRIGGER_CLASS = 'sort-trigger';
---

<albums-table-heading data-table-id={tableId}>
  <thead>
    <tr>
      <th scope="col">
        <button
          class={classNames(classes.button, SORT_TRIGGER_CLASS)}
          data-criterion="place"
          >#<svg
            id="albums-table-sort-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            ><path d="M24 22h-24l12-20z"></path>
          </svg>
        </button>
      </th>
      <th scope="col">
        <button
          class={classNames(classes.button, SORT_TRIGGER_CLASS)}
          data-criterion="album"
          >Album<svg
            id="albums-table-sort-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            ><path d="M24 22h-24l12-20z"></path>
          </svg>
        </button>
      </th>
      <th scope="col">
        <button
          class={classNames(classes.button, SORT_TRIGGER_CLASS, 'active')}
          data-criterion="date"
          >Date
          <svg
            id="albums-table-sort-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="12"
            height="12"
            viewBox="0 0 24 24"
            ><path d="M24 22h-24l12-20z"></path>
          </svg>
        </button>
      </th><th aria-label="Cover thumbnail" scope="col"> </th>
    </tr>
  </thead>
</albums-table-heading>

<script src="./albums-table-heading.ts"></script>
