---
import classNames from 'classnames';
import map from 'lodash/map';
import sortBy from 'lodash/sortBy';

import type { AlbumPlaceItem } from '../types';
import ALBUMS_SORT_KEYS from '../utils/albums-sort-keys';
import getNextId from '../utils/get-next-id'

import AlbumModal from './album-modal.astro';
import AlbumsTableHeading from './albums-table-heading.astro';
import AlbumsTableRow from './albums-table-row.astro';

import classes from './albums-table.module.css';

export interface Props {
  albumsPlaces: AlbumPlaceItem[];
}
const { albumsPlaces } = Astro.props;
const sortedAlbumsPlaces = sortBy(albumsPlaces, ALBUMS_SORT_KEYS.date);
const tableId = getNextId();
---

<albums-table>
  <table
    class={classNames('table', 'is-fullwidth', classes.table)}
    id={tableId}
  >
    <AlbumsTableHeading tableId={tableId} />
    <tbody
      >{
        map(sortedAlbumsPlaces, ({ album, place }) => (
          <AlbumsTableRow album={album} place={place} />
        ))
      }</tbody
    >
  </table>
</albums-table>
<AlbumModal />

<script src="./albums-table.ts"></script>
