{
  "plugins": [
    [
      "import",
      {
        "libraryDirectory": "lib",
        "libraryName": "antd",
        "style": "css"
      }
    ]
  ],
  "presets": ["react-static/babel-preset.js"]
}
