---
import Layout from '../layouts/layout.astro';
---

<Layout
  date="2022-11-12T20:31:20.972Z"
  title="About You Must Hear"
  url="/about"
>
  <p>
    Welcome to our website, where we've curated a collection of the best music
    albums of all time! Our selection process is based on an algorithm that
    takes into account the popularity of each album, ensuring that only the most
    beloved and widely acclaimed albums are featured.
  </p><p>
    For each album, you'll find detailed information about the artist, album
    title, release date, and genre. We've also included links to each album's
    tags, and to tags whose charts the album is included in.
  </p><p>
    So take a look around, explore the best albums of all time, and maybe try
    something new. Thanks for visiting!
  </p>
</Layout>
