---
import { formatISO } from 'date-fns';
import map from 'lodash/map';
import orderBy from 'lodash/orderBy';

import AlbumsTable from '../components/albums-table.astro';
import BackgroundImage from '../components/background-image.astro';
import Layout from '../layouts/layout.astro';
import { initDatabase } from '../services/data/database';
import getTopList from '../services/data/get-top-list';

await initDatabase();
// const topList = await getTagInfo('top-list') as Album[];
const topList = await getTopList();
const albumsPlaces = map(
  orderBy(topList, ['weight'], ['desc']),
  (album, index) => ({
    album,
    place: index + 1,
  }),
);
---

<Layout
  date={formatISO(new Date())}
  imageSrc="/ymh.jpg"
  title="Best 100 releases of all."
  url="/"
>
  <main>
    <div class="tabs">
      <ul>
        <li class="is-active"><a href={`/`}>Chart</a></li>
        <li>
          <a href={`/timeline`}
            >Timeline chart</a>
        </li>
      </ul>
    </div>
    <AlbumsTable albumsPlaces={albumsPlaces} />
  </main>
  <BackgroundImage imageSource="/ymh.jpg" />
</Layout>
